#sidebar{
    display: flex;
    flex-direction: column;

    gap: 15px;

}

.tab{
    font-size: 2vw;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.tab:hover{
    opacity: 0.8;
}

.home-button{
    background-color: white;
    color: black;
}