:root{
    font-family: "Space Grotesk", sans-serif, serif;
}

body{
    padding: 20px;
    background-color: rgb(9, 9, 161);
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}