.contact{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-title{
    font-size: 1.5vw;
    text-decoration: underline;
}

.contact-information{
    font-size: 1vw;
}

.cosmo-image{
    width: 50%;
    border: 1px solid white;
}

