.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.review{
    font-size: 1vw;
}

.reviewer{
    font-size: 1vw;
    font-weight: 500;

    display: flex;
    justify-content: flex-end;
}

.hours-container, .address-container, .review-container{
    display: flex;
    flex-direction: column;
    gap: 5px;

    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.review-container{
    grid-area: 1/span 2;
}

.hours-container{
    grid-area: 2/1;
}

.address-container{
    grid-area: 2/2;
}

.hours-title, .address-title{
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: underline;
}

.opening-hours, .address{
    font-size: 0.85vw;
}